{% extends 'base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/culture-overrides.css' %}"><link rel="stylesheet" href="{% static 'css/landing-overrides.css' %}"><link rel="stylesheet" href="{% static 'css/hero-overrides.css' %}"><link rel="stylesheet" href="{% static 'css/engagement-overrides.css' %}">{% endblock %}
{% block content %}
{% include 'components/navbar.html' %}
<main id="top">
  {% include 'components/hero.html' %}
  {% include 'components/culture.html' %}
  {% include 'components/custom.html' %}
  {% include 'components/engagement.html' %}
</main>
{% include 'components/footer.html' %}
{% endblock %}
