.culture-memes .culture-photo {
  background-size: cover;
  background-position: center 33%
}

.culture-urban .culture-photo {
  background-position: center;
  background-size: cover;
  filter: grayscale(.45) contrast(1.08) brightness(.62)
}
